:host {
    display: block;
    height: 100%;
}

.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
    font-size: large;
}
.container {
    margin-top: 30px;
}

img {
    max-width: 150px;
}

.greeting {
    height: 75px;
}

section {
    padding: 1rem;
    margin: 1rem;
    background: #FFF;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

section h2 {
    margin: 0 0 0.5rem 0;
    font-weight: normal;
}

section h3 {
    margin: 0.75rem 0 0.5rem 0;
    font-weight: normal;
}