:host {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

svg {
  fill: #444;
}

/* Style in Slot */
/* - Button */
:host(.button-slot),
:host(.button-slot-left),
:host(.button-slot-right) {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

:host(.button-slot-left) {
  vertical-align: middle;
  margin-right: 0.25rem;
}

:host(.button-slot-right) {
  vertical-align: middle;
  margin-left: 0.25rem;
}

:host(.button-variant-primary) svg {
  fill: #FFF;
}
/* - Button Group */