:host {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

svg path {
  fill: #444;
}

/* Style in Slot */
:host(.button-slot-left-default) {
  vertical-align: middle;
  margin: -0.35rem 0.25rem -0.25rem -0.25rem;
}

:host(.button-slot-right-default) {
  vertical-align: middle;
  margin: -0.35rem -0.25rem -0.25rem 0.25rem;
}