:host {
  display: flex;
  width: 4rem;
  height: 4rem;
  grid-column: var(--column, 1);
  grid-row: var(--row, 1);
  order: 0;
}
:host(:hover) {
  order: 1;
}
button {
  display: flex;
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin: -0.25rem;
  outline: none;
  background: transparent;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  cursor: inherit;
}

button:hover {
  border-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

button img + img {
  margin-left: -4rem;
}

button span {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin-left: -4rem;
  align-items: center;
  justify-content: center;
}