:host {
  display: flex;
  width: 4rem;
  height: 4rem;
  grid-column: var(--column, 1);
  grid-row: var(--row, 1);
  order: 0;
}
:host(:hover) {
  order: 1;
}
button.tile {
  display: flex;
  padding: 0;
  width: 4rem;
  height: 4rem;
  outline: none;
  background: transparent;
  cursor: inherit;
  border: 0;
}

button.tile:hover::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 0.25rem solid #FFF;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

button.tile img + img {
  margin-left: -4rem;
}

button.tile span {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin-left: -4rem;
  align-items: center;
  justify-content: center;
}

.wall {
  display: flex;
  flex-direction: column;
}

.wall > div {
  display: flex;
  flex-direction: row;
}

.wall button {
  padding: 0;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #FFF;
  cursor: pointer;
}

.wall div:not(:last-child) {
  margin-bottom: -0.25rem;
}

.wall button:not(:last-child) {
  margin-right: -0.25rem;
}

.wall button:hover {
  border-color: rgba(20, 146, 230, 0.5);
  border-radius: 2px;
  z-index: 1;
}

.comment {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 40px;
  fill: rgba(255, 200, 0, 0.5);
}