button {
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  background: #EEE;
  padding: 0.5rem;
  color: #222;
}

button:hover {
  border-color: #BBB;
}

:host map-icon {
  vertical-align: middle;
}